/.vs
/.vscode
/ahc/rcl-contest-2021-long/A
/ahc/ahc015/tools/
/ahc/intro-heuristics/tester/

*.pdf
*.pdb
*.exe
*.zip
input*.txt
output*.txt

__pycache__
a.out
in
out
read
src_genocon2021
